<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-for="item in res">
            <span>姓名:{{item.name}}</span>
            <span>成绩:{{item.point}}</span>
        </p>
        <!-- 属性不需要带括号 -->
        <p>平均成绩:{{avaPoint}}</p>
        <!-- 函数需要带括号 -->
        <p>平均成绩:{{avaPoint1()}}</p>

        <input type="text" v-model="age"></input>
        <p>{{info}}</p>

        <input type="text" v-model="beauty">
        <p>{{beauty_info}}</p>

        <p v-show="isfuck">太惨了</p>
    </div>
</body>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            res: [{
                name: '张三',
                point: 99
            }, {
                name: '李四',
                point: 88
            }, {
                name: '王五',
                point: 77
            }],
            age: 10,
            beauty: 88,
            isfuck: false,
        },
        /* 计算属性 */
        computed: {
            avaPoint() {
                let num = 0;
                this.res.forEach(element => {
                    num += element.point
                });
                let len = this.res.length;
                let totalNum = num / len;
                console.log('syz')
                return totalNum
            }
        },
        methods: {
            avaPoint1() {
                let num = 0;
                this.res.forEach(element => {
                    num += element.point
                });
                let len = this.res.length;
                let totalNum = num / len;
                console.log('zjw')
                return totalNum
            }
        },
        /* 监听属性,进行动态改变 */
        /* 具备两个参数, 新的值和旧的值*/
        watch: {
            age: function(newValue, oldValue) {
                if (newValue < 18) {
                    this.info = "18禁!"
                } else if (newValue >= 18) {
                    this.info = '你已经18岁'
                }
            },
            beauty: function(newValue, oldValue) {
                if (newValue < 100) {
                    this.beauty_info = "服务器宕机了"
                    this.isfuck = false
                } else if (newValue < 200) {
                    this.beauty_info = "服务器燃烧了"
                    this.isfuck = false
                } else {
                    this.beauty_info = "升仙了"
                    this.isfuck = true
                }
            },

        }
    })
</script>

</html>