<!DOCTYPE html>>
<html lang="en">

<head>
    <script src="./vue.min.js"></script>
    <meta charset="UTF-8">
</head>

<body>
    <div id="app">
        <!-- 单选框-->
        <label for="sex">男</label>
        <input name="sex" type="radio" value="male" v-model="val1">
        <label for="sex">女</label>
        <input name="sex" type="radio" value="femail" v-model="val1">
        <label for="sex">保密</label>
        <input name="sex" type="radio" value="none" v-model="val1">
        <p>你的性别是:{{val1}}</p>
        <p>你的爱好:</p>
        <label for="hobby">唱</label>
        <input name="hobby" type="checkbox" value="sing" v-model="val2">
        <label for="hobby">跳</label>
        <input name="hobby" type="checkbox" value="dance" v-model="val2">
        <label for="hobby">rap</label>
        <input name="hobby" type="checkbox" value="rap" v-model="val2">
        <p>你的爱好是:{{val2}}</p>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                age: 18,
                val1: 'none',
                val2: []
            },
            beforeCreate: function() {
                console.log(this.$data);
                console.log(this.$el)
                console.log('beforeCreate--1');
            },
            // 最早发起请求的时机,发送axios请求
            created: function() {
                console.log(this.$data);
                console.log(this.$el)
                console.log('Created--2');
                this.getData();

            },
            beforeMount() {
                console.log(this.$data);
                console.log(this.$el)
                console.log('beforeMount--3');
            },
            // 会执行很多次
            beforeUpdate() {
                console.log(this.$data);
                console.log(this.$el)
                console.log('beforeUpdate--4');
            },
            updated() {
                console.log(this.$data);
                console.log(this.$el)
                console.log('updated--5');
            },
            destroyed() {
                console.log(this.$data);
                console.log(this.$el)
                console.log('destroyed--6');
            },
            methods: {
                getData() {
                    console.log('吃屁?')
                }
            }
        })
    </script>
</body>

</html>